/*This is a navigation styling */
.topnav {
  border: solid 2px rgb(164, 164, 170);
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(4, 4, 53);
  height: fit-content;
}

.topnav-left,
h1,
a {
  text-align: left;
  padding: 2px 0px;
  text-decoration: none;
  color: whitesmoke;
}

img {
  width: 80px;
  height: 80px;
}

.topnav-left img {
  float: left;
}

.topnav-right {
  text-align: right;
}

.topnav-right a {
  letter-spacing: 5px;
  word-spacing: 3px;
  border: solid 2px rgb(15, 160, 23);
  border-radius: 41px;
  background-color: rgb(15, 160, 23);
  padding: 10px;
}
